@import url(https://github.com/masayajunior/masayajunior.github.io/blob/master/fonts/Gotham-Bold.ttf);


body{
    background-color: rgb(233,	142,	142	);
    color: white;
}

header {
    background-color: rgb(214,	82,	119	);
}