@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/AvenirNextLTPro-Regular.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/AvenirNextLTPro-Bold.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/AvenirNextLTPro-Demi.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/AvenirNextLTPro-It.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/CooperHewitt-Bold.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/CooperHewitt-Book.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/CooperHewitt-Light.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/CooperHewitt-Medium.otf);
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/CooperHewitt-Thin.otf);
/* @import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/BukhariScript.ttf); */
@import url(https://github.com/WilloConcertSeries/willoconcertseries.github.io/blob/main/fonts/BukhariScript.otf);

@font-face {
    font-family: 'Bukhari Script';
    /* src: url(GraublauWeb.eot); */
    src: local('Bukhari Script'), url(BukhariScript.otf) format('opentype');
    src: local('Bukhari Script'), url(BukhariScript.ttf) format('truetype');
    }

/* @font-face {
    font-family: Bukhari;
    src:
    url("../fonts/Bukhari\ Script.otf") format("otf"),
    } */


body{
    /* color: white; */
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 800;
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: lightcoral; */
    background-image: 
    linear-gradient( rgba(255, 255, 255, 0), rgb(255, 255, 255), rgb(255, 255, 255)),url('../images/squiggle.jpg');
    
    /* background-repeat: no-repeat; */
    background-size: 600px;
    background-position-x: 200px;
}

.logo {
    background-color: rgb(214,	82,	119	);
    background-size: 130px;
    background-position: center;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 40px;
    /* border: 5px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: .3s ease-in-out;
}

.logo:hover {
   opacity: 0;

}

.logoHover {
    background-color: rgb(12,35,42);
    background-size: 130px;
    background-position: center;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 40px;
    /* border: 5px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.icon {
    height: 170px;
}

header {
    background-color: rgb(12,35,42);
    font-size: 10vh;
    text-align: center;
    justify-content: center;
    /* border: 5px solid white;
    box-shadow: 0 0 0 3px  rgb(12,35,42); */
    border-radius: 10px;
    display: flex;
    margin-top: 60px;
    height: 60px;
    position: fixed;
    right: 50px;
    top: 0;
    color: white;
    z-index: 5;


}

nav {
    font-size: 2.2vh;
    font-weight: 500;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Avenir';
    font-weight: 800;
    /* height: 10px;
    background-color: red; */
    transition: 0.2s ease-in-out;
}

nav a:hover {
    color: rgb(225,	133,	157);
}

main {
    color: rgb(12,35,42);
    font-family: 'Bukhari-Script';
    font-size: 90px;
    margin-left: 20px;
    margin-top: 200px;
    height: 580px;
    background-image: url('../images/BGUpscale.jpg');
    background-size: 1350px;
    background-position: right;
    background-position-y: -865px;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.Featuring {
    text-align: center;
    margin-top: 100px;
    color: rgb(12,35,42);
    text-shadow: 0px 0px 20px white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(255,255,255,1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
}

.mainTwo {
    margin-top:100px;
    margin-left:20px;
    height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    /* background-color: rgb(253, 210, 149); */
}

#typeOne {
    display: none;
}

#typeTwo {
    display: inherit;
}

.Performers {
    height: 1000px;
    margin-left:-53px;
    z-index: 2;
}

.performerPic {
    position: absolute;
    z-index: 3;
    width: 295px;
    margin-left:-16px;
   
}

#mKPic {
    left: 134px;
    top: 1014px;
}

#cLPic {
    left: 753px;
    top: 1014px;
}

#wTPic {
    left: 444px;
    top: 1177px;
}

#nGPic {
    left: 1063px;
    top: 1177px;
}

#dPic {
    left: 134px;
    top: 1370px;
}

#tPic {
    left: 753px;
    top: 1370px;
}

.performerTag {
    position: absolute;
    height: 30px;
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir';
    font-weight: 300;
    z-index: 2;
    border-radius: 1px;
    margin-left:-16px;
}

#morghanKennedy {
    background-color:   rgb(214,	82,	119	);
    top: 1323px;
    left: 134px;
    color: white;
}

#chazzyLake {
    background-color:   rgb(253, 210, 149);
    top: 1323px;
    left: 753px;
    color: rgb(12,35,42);
}

#wayneTucker {
    background-color:   rgb(12,35,42);
    top: 1486px;
    left: 444px;
    color: white;
}

#nyahGrace {
    background-color:   rgb(0,134,111);
    top: 1486px;
    left: 1063px;
    color: white;
}

#Devoye {
    background-color: rgb(20,106,211);
    top: 1678px;
    left: 134px;
    color: white;
}

#Tarune {
    background-color: rgb(214,	82,	119	);
    top: 1678px;
    left: 753px;
    color: white;
}

.performerTagTwo {
    position: absolute;
    height: 30px;
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Avenir';
    font-weight: 500;
    z-index: 2;
    border-radius: 1px;
    margin-left:-16px;
    background-color:   rgb(12,35,42);
    color: white;
}

#morghanKennedyTwo {
    /* background-color:   rgb(214,	82,	119	); */
    top: 1323px;
    left: 134px;
    color: white;
}

#chazzyLakeTwo {
    /* background-color:   rgb(253, 210, 149); */
    top: 1323px;
    left: 753px;
    /* color: rgb(12,35,42); */
}

#wayneTuckerTwo {
    /* background-color:   rgb(12,35,42); */
    top: 1486px;
    left: 444px;
    color: white;
}

#nyahGraceTwo {
    /* background-color:   rgb(0,134,111); */
    top: 1486px;
    left: 1063px;
    color: white;
}

#DevoyeTwo {
    /* background-color: rgb(20,106,211); */
    top: 1678px;
    left: 134px;
    color: white;
}

#TaruneTwo {
    /* background-color: rgb(214,	82,	119	); */
    top: 1678px;
    left: 753px;
    color: white;
}

.logoBG {
    /* background-image: url('../images/logoBG.png');
    background-position: center;
    background-repeat: no-repeat; */
    opacity:.1;
    color: rgb(20,106,211);
    left:-100px;
    background-size: 1000px;
    position: absolute;
    width: 106.9%;
    height: 606px;
    /* border: 2px solid blue; */
    z-index: 1;
    top: 1200px;
    text-align:center;
    font-family: 'Bukhari';
    font-size: 700px;
    overflow: hidden;
}

footer {
    background-color: rgb(214,	82,	119);
    /* position: absolute; */
    font-size: 20px;
    font-weight: 300;
    color: rgb(12,35,42);
    margin-left: -5%;
    width: 108.7%;
    bottom: 0;
    left:0;
    height: 200px;
    border-top: 5px solid white;
    border-bottom: 15px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.socials {
    /* margin-bottom: 75px; */
    height: 55px;
    width: 55px;
}

#footerText {
    position: absolute;
    font-size: 10px;
    top: 2002px;
}
